

<div id="mainDiv" ng-app="MmMakerApp" ng-controller="AppController">
    <div class="row justify-content-center">
        <div class="col-md-8  p-2">
            <h3>Przetwarzanie plików MM</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <label class="btn btn-lg btn-primary">
                Wczytaj plik
                <input type="file"  onchange="angular.element(this).scope().loadFile(this.files)" style="display:none;" id="filebrowser" >
            </label>
            <label class="btn btn-primary btn-lg" >
                Eksport do Excela
            </label>

        </div>

    </div>
    <div class="row">
        <table class="table table-bordered">
            <tr>
                <th>Nazwa produktu</th>
                <th>Kod kreskowy</th>
                <th>Szt.</th>
                <th>Cena</th>
                <th>Wartość</th>
            </tr>
            <tr ng-repeat="item in excelContent">
                <td>{{item.ProductName}}</td>
                <td>{{item.BarCode}}</td>
                <td>{{item.NumberOfItems}}</td>
                <td>{{item.ItemGrosValue}}</td>
                <td>{{item.TotalGrosValue}}</td>
            </tr>
        </table>
    </div>
</div>

@Scripts.Render("~/bundles/angularjs")